{% extends 'inicial.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<body class="body-login">
    <form method="post" class="form-login">
    <section class="area-login">
        -<div class="login">
            <!---<div class="livro-login"><img src="../static/imagem/livro.png"></div> -->
        {% csrf_token %}
        {{ form|crispy }}
    <p><input type="submit" class="login-input" value="Entrar"/></p>
    <p class="p-login">Não tem conta?<a class="a-login" href= "/usuario_cadastrar">Criar conta</a></p>
    </form>
        </div>
    </section>
</body>
{% endblock %}