* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

.padando{
padding-bottom: 50px;
}

.body-inicial {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #a8dadc;
}
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.estilin {
	text-align: center;
}

.estilin3 {
	text-align: right;
}

#cards-area {
  margin-inline: auto;
}

#cards-list {
  background-color: #a8dadc;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  justify-content: center;
  list-style-type: none;
  overflow: auto;
  padding: 20px;
}

.card {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0 0 0 / 8%);
  height: 210px;
  overflow: hidden;
  position: relative;
  width: calc(100% / 3 - 20px);
}

.card:hover .category {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0 0 0 / 40%);
}

.card:hover .content-container {
  justify-content: flex-start;
  height: 100%;
}

.card:hover .description {
  display: inline-block;
}

.image-container {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.background-opacity {
  background-position: center;
  background-size: cover;
  opacity: .4;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.image {
  height: 140px;
  position: relative;
  z-index: 1;
}

.content-container {
  justify-content: center;
  background-color: rgba(255 255 255 / 80%);
  bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70px;
  left: 0;
  padding: 12px;
  position: absolute;
  right: 0;
  transition: all ease-in 300ms;
  z-index: 2;
}

.title-and-evaluation {
  color: #2d3436;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.title-and-evaluation h3 {
  color: #c0392b;
}

.title-and-evaluation span {
  color: #c0392b;
  font-weight: 700;
}

.category {
  font-weight: 300;
  font-size: .9rem;
}

.description {
  display: none;
  flex-grow: 1;
  padding-top: 8px;
  font-style: italic;
  line-height: 1.2rem;
  overflow: auto;
  padding-right: 2px;
}

.description::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: rgba(0 0 0 / 10%);
}

.description::-webkit-scrollbar-thumb {
  background-color: #c0392b;
  border-radius: 8px;
}

 



.body-login {
  overflow: hidden;
}

.area-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  border-radius: 8px;
  display: flex;
  background-color: #1E90FF;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 450px;
  padding: 80px;
}

.form-login {
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: auto;
}

.login-input {
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  padding: auto;
  width: 150px;
  height: 45px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;

}

.livro-login {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: -10px;
  width: 50px;
  height: 50px;

}

.p-login {
  color: white;
  font-size: 15px;
}

.a-login {
  text-decoration: none;
  margin-left: 7px;
}

.input-group {
  display: flex;
  align-items: center;
  width: auto;


}





.area-cadastrar-livro {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.form-cadastrar-livro {
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: auto;
}
/*
.cadastrar-livro {
  border-radius: 8px;
  display: flex;
  background-color: #1E90FF;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 450px;
  padding: 80px;
}

.cadastrar-livro-input {
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  padding: auto;
  width: 150px;
  height: 45px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
*/




.area-cadastrar-usuario {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cadastrar-usuario {
  border-radius: 8px;
  display: flex;
  background-color: #1E90FF;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 80px;
  color: white;
}

.form-cadastrar-usuario {
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: auto;
}


.area-cadastrar-subarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastrar-subarea {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
  display: flex;
  background-color: #1E90FF;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 60px;
}

.form-cadastrar-subarea {
  height: 79%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: auto;
}







.form-cadastrar-tipo {
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: auto;
}


.area-cadastrar-tipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastrar-tipo {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
  display: flex;
  background-color: #1E90FF;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 60px;
}

.form-cadastrar-tipo {
  height: 79%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: auto;
}