{% load static %}
<nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <div class="col-sm-4">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a style="color: black;" class="nav-link active" aria-current="page" href="{% url 'inicial' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="{% url 'listar_livro' %}">Livros cadastrados</a>
                </li>
                <li class="nav-item dropdown">
                  <a style="color: black;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'listar_area' %}">Areas</a></li>
                    <li><a style="color: black;" class="dropdown-item" href="{% url 'listar_avaliacao' %}">Avaliações</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a style="color: black;" class="dropdown-item" href="{% url 'listar_recomendacao' %}">Recomendações</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 estilin">
            <a href="{% url 'inicial' %}"><H2 style="color: white;">BIBLIOTECA</H2> </a>
          </div>
          <div class="col-sm-4 estilin3">
            <a class="navbar-brand" href="{% url 'login' %}">
                <img src="{% static 'imagem/aaa.png' %}" alt="Bootstrap" width="30" height="24">
              </a>
        </div>
        </div>
    </nav>