{% extends 'inicial.html' %}

{% block conteudo %}
    <h2> Registro de Usuário</h2>
    <form method="post">
        {% csrf_token %}
        <p>Matrícula: {{ form.username }}</p>
        <p>E-mail: {{ form.email }}</p>
        <p>Senha: {{ form.password1 }}</p>
        <p>Repetir Senha: {{ form.password2 }}</p>
        <p>Tipo: {{ form.tipo }}</p>
        <p>Nome: {{ form.nome }}</p>
        <p>
            <input type="submit" value="Cadastrar" />
        </p>
        <p>
            <a href="{% url 'inicial' %}">Início</a>
        </p>
    </form>
{% endblock %}