{% extends 'inicial.html' %}

{% block conteudo %}
<div class="estilin padando" style="height: calc(100% - (55.34px + 89.5px));">
    <h1>Selecione o Livro</h1>
    {% for recomendacao in todos_recomendacoes %}
    <p>Quem recomendou: {{recomendacao.usuario.nome}}</p>
    <p>Disciplina: {{recomendacao.id_disciplina.nome}}</p>
    <p>Título: {{recomendacao.isbn_livro.titulo}} </p>
    <p>Autores: {{recomendacao.isbn_livro.autores}}</p>
    <p>Data de Lançamento: {{recomendacao.isbn_livro.data_lancamento}}</p>
    <p>Sinopse: {{livro.sinopse}}</p>
    <p>Capa: <img src="/media/{{recomendacao.isbn_livro.capa}}" alt="" width="250px"/></p>
    <p><a href="{% url 'cadastrar_avaliacao' recomendacao.id %}"><button>AVALIAR</button></a></p>
    {% empty %}
    <p>Não há livros cadastrados</p>
</div>
    {% endfor %}
{% endblock %}