{% extends 'inicial.html' %}

{% block conteudo %}
    <h2>Listagem das Avaliações:</h2>
    {% for avaliacao in todas_avaliacoes %}
    <p>Nota Geral: {{avaliacao.nota_geral}}</p>
    <p>Usuario: {{avaliacao.usuario}}</p>
    <p>Resenha: {{avaliacao.resenha}}</p>
    <p>Recomendacao: {{avaliacao.id_recomendacao}} | <a href="{% url 'editar_avaliacao' avaliacao.id %}">EDITAR</a> | <a href="{% url 'remover_avaliacao' avaliacao.id %}">REMOVER</a></p>
    {% empty %}
    <p>Não há avaliações cadastradas!</p>
    {% endfor %}
    <a href="{% url 'cadastrar_avaliacao_livros' %}">Cadastrar</a>
{% endblock %}