{% extends 'inicial.html' %}

{% block conteudo %}
    <h1>Cadastrar Avaliação</h1>
    <p>Quem recomendou: {{recomendacao.usuario.nome}}</p>
    <p>Disciplina: {{recomendacao.id_disciplina.nome}}</p>
    <p>Título: {{recomendacao.isbn_livro.titulo}} </p>
    <p>Autores: {{recomendacao.isbn_livro.autores}}</p>
    <p>Data de Lançamento: {{recomendacao.isbn_livro.data_lancamento}}</p>
    <p>Sinopse: {{livro.sinopse}}</p>
    <p>Capa: <img src="/media/{{recomendacao.isbn_livro.capa}}" alt="" width="250px"/></p>
    
    <form method="post">
        {% csrf_token %}
        {{ form_avaliacao }}
        <input type="hidden" name="recomendacao_id" value="{{recomendacao.id}}" />
        <p><input type="submit" value="Cadastrar"></p>

    </form>
{% endblock %}
