<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplina Management</title>
</head>
<body>
    <h2>Listagem das Disciplinas:</h2>
    {% for disciplina in todas_disciplinas %}
    <p>Nome: {{disciplina.nome}} | <a href="{% url 'editar_disciplina' disciplina.id %}">EDITAR | <a href="{% url 'remover_disciplina' disciplina.id %}">REMOVER</a></p>
    {% empty %}
    <p>Não há disciplinas cadastradas!</p>
    {% endfor %}
    <a href="{% url 'cadastrar_disciplina' %}">Cadastrar</a>
</body>
</html>