{% extends 'inicial.html' %}

{% block conteudo %}
<div class="estilin padando" style="height: calc(100% - (55.34px + 89.5px)); margin-top: 40px;">
    <h2>Livros</h2>
    
    <p>Listagem de Livros:</p>
    {% for livro in todos_livros %}
    <p>Título: {{livro.titulo}} </p>
    <p>Autores: {{livro.autores}}</p>
    <p>Data de Lançamento: {{livro.data_lancamento}}</p>
    <p>Sinopse: {{livro.sinopse}}</p>
    <p>Capa: <img src="/media/{{livro.capa}}" alt="" /></p>
    {% empty %}
    <p>Não há livros cadastrados</p>
    {% endfor %}
    <a href="{% url 'cadastrar_livro' %}" class="btn btn-primary">Cadastrar</a>
</div>
    {% endblock %}