{% extends 'inicial.html' %}

{% block conteudo %}
<div class="estilin padando" style="height: calc(100% - (55.34px + 89.5px));">
    <h2>Listagem das Recomendações:</h2>
    {% for recomendacao in todas_recomendacoes %}
    <p>Usuario: {{recomendacao.usuario}}</p>
    <p>Disciplina: {{recomendacao.id_disciplina}}</p>
    <p>Livro: {{recomendacao.isbn_livro}} | <a href="{% url 'editar_recomendacao' recomendacao.id %}">EDITAR | <a href="{% url 'remover_recomendacao' recomendacao.id %}">REMOVER</a></p>
    {% empty %}
    <p>Não há recomendações cadastradas!</p>
    {% endfor %}
    <a href="{% url 'cadastrar_recomendacao' %}" class="btn btn-success">Cadastrar</a>
</div>
    {% endblock %}