{% extends 'inicial.html' %}

{% block conteudo %}
    <h2>Listagem das Recomendações:</h2>
    {% for recomendacao in todas_recomendacoes %}
    <p>Usuario: {{recomendacao.usuario}}</p>
    <p>Disciplina: {{recomendacao.id_disciplina}}</p>
    <p>Livro: {{recomendacao.isbn_livro}} | <a href="{% url 'editar_recomendacao' recomendacao.id %}">EDITAR | <a href="{% url 'remover_recomendacao' recomendacao.id %}">REMOVER</a></p>
    {% empty %}
    <p>Não há recomendações cadastradas!</p>
    {% endfor %}
    <a href="{% url 'cadastrar_recomendacao' %}">Cadastrar</a>
    {% endblock %}