<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo Management</title>
</head>
<body>
    <h2>Listagem dos Tipos de Usuário:</h2>
    {% for tipo in todos_tipos %}
    <p>Nome: {{tipo.nome}} | <a href="{% url 'editar_tipo' tipo.id %}">EDITAR | <a href="{% url 'remover_tipo' tipo.id %}">REMOVER</a></p>
    {% empty %}
    <p>Não há tipos de usuários cadastrados!</p>
    {% endfor %}
    <a href="{% url 'cadastrar_tipo' %}">Cadastrar</a>
</body>
</html>