{% extends 'inicial.html' %}

{% block conteudo %}
    <h2>Usuário</h2>
    
    <p>Listagem de Usuarios</p>
    {% for usuario in todos_usuarios %}
    
<p>
    Nome: {{ usuario.nome }}
    User: {{ usuario.username }}
    Tipo: {{ usuario.tipo }}
    <!--| <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
    | <a href="{% url 'remover_usuario' usuario.id %}">Remover</a> -->
</p>
        
    {{ empty }}
    <p>Este usuário não existe</p>
    {% endfor %}
    <p><a href="{% url 'cadastar_usuario' %}">Cadastrar</a></p>
    {% endblock %}