{% extends 'inicial.html' %}

{% block conteudo %}
<div class="estilin padando">
    <h2>Usuário</h2>
    
    <p>Listagem de Usuarios</p>
    {% for usuario in todos_usuarios %}
    
<p>
    Nome: {{ usuario.nome }}
    User: {{ usuario.username }}
    Tipo de usuário: {{ usuario.tipo }}
     <a href="{% url 'editar_usuario' usuario.username %}">Editar</a>
    | <a href="{% url 'remover_usuario' usuario.username %}">Remover</a>
</p>
        
    {% empty %}
    <p>Não há usuários</p>
    {% endfor %}
    <p><a href="{% url 'cadastar_usuario' %} " class="btn btn-success">Cadastrar</a></p>
    </div>
    {% endblock %}